body {
  margin: 0px;
  padding: 0px;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#mc_embed_signup {
  background: transparent;
  clear:left;
  font:14px Helvetica,Arial,sans-serif;
}

#contacts {
  background: url(assets/c_image.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 420px;
}
.contact text-center{
  color: #fff;
}
form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #fff;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}


input.form-control {
    background: transparent;
    color: #0062cc;
}



.container-fluid {
  text-align: center;
  padding-left: 10px;
  margin: 0px;
  align-content: center;
}
.header box{
  color: #fff;
}
.header {
  background-image: url(assets/h_img.jpg);
  background-size: cover;
  height: 550px;
  background-repeat: no-repeat;
}

.abt{
  margin: 30px;
  text-align: center;
}

.service {
  background-image: url(assets/s_image.jpg);
  background-attachment: fixed;
  height: 420px;
  background-repeat: no-repeat;
}


.port {
  margin-left: 50px;
  margin-bottom: 20px;
}

.work {
  size: inherit;
  padding: 10px;
  padding-left: 10px;
}
.we_do {
  padding-bottom: 100px;
  padding-left: 50px;
}

.abt {
  padding-left: 50px;
  text-align: center;
}

#h2we-do {
  height: 100px;
  text-align: center;
  margin: 23px;
}

#myTextarea {
  background-color: transparent;
  color: aliceblue;
  border: 2px gray solid;
}

.input {
  background-color: transparent;
  color: aliceblue;
  border: 2px gray solid;
}

.des_p {
  display: none;
  cursor: pointer;
  text-align: center;
}

.dev_p {
  display: none;
  cursor: pointer;
  text-align: center;
}

.prod_p {
  display: none;
  cursor: pointer;
  text-align: center;
}

#design {
  cursor: pointer;
}

#dev {
  cursor: pointer;
}

#prod {
  cursor: pointer;
}

.port p {
  display: none;
  text-align: center;
  position: absolute;
}

/*media query */
@media screen and (max-width:700px) {
  .box {
    width: 635px;
    height: 450px;
    padding: 0px;
  }

  .box2 {
    width: 635px;
    height: 450px;
    padding: 00px;
  }

  #design {
    padding-bottom: 50px;
    width: 50px;
  }

  #dev {
    padding-bottom: 50px;
    width: 50px;
  }

  #prod {
    padding-bottom: 50px;
    width: 50px;
  }

  .port {
    width: 150px;
    display: inherit;
    columns: initial 2;
  }
}

.socialmedia{
  text-align: center;
  margin-top: 30px;
}
.fa {
  padding: 20px;
  font-size: 15px;
  width: 50px;
  text--align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}
