* {
  margin: 0px
}

body {
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Lato", sans-serif;
}

.part1 {
  background: url(assets/h_img.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 620px;
}

.bannertext {
  color: white;
  text-emphasis: bold;
  background: transparent;
  text-align: center;
  font-size-adjust: auto;
  padding: 30px;
  margin-top: 70px;
}

.about {
  margin-top: 40px;
  margin-bottom: 40px;
}

.header {
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  text-decoration: underline;
}

.head {
  text-align: center;
  font-size: 17px;
}

.services {
  background: url(assets/s_image.jpg) no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 420px;
}

.servtext {
  text-align: center;
  ;
  padding: 40px;
  margin: 40px;
  color: #fff;
}

.whatwedo {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.header3 {
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 40px;
}
